.Login-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
}

.login-h1 {
  color: var(--green);
  font-size: 40px;
  text-align: center;
}

.Login-body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--green);
}

.login-container {
  background-color: #fff;
  padding: 100px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /*text-align: center;*/
}

.login-h1 {
  margin-bottom: 20px;
}

.login-form-group {
  margin-bottom: 15px;
}

.login-form-group-b {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.login-bonk {
  display: flex;
}

.input-log {
  margin-right: 5px;
}

.login-label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.login-forgot-password {
  display: block;
  margin-top: 5px;
  text-align: right;
  font-size: 12px;
  color: #aaa;
}

.login-forgot-password:hover {
  text-decoration: underline;
}

.login-button {
  background-color: var(--green);
  color: white;
  padding: 10px 170px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}

.login-button:hover {
  opacity: 0.8;
}

.login-p {
  margin-top: 15px;
}

.login-p a {
  color: #4CAF50;
  text-decoration: none;
}

.login-p a:hover {
  text-decoration: underline;
}

.login-left{
  text-align: left;
}
